@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
      system-ui, sans-serif;
    background-color: #92d8ca;
    color: white;
  }
}
